@layer base{
    .heading1{
        font-size:64px;
        font-family: var(--font-fauna-one);
    }
    .heading2{
        font-size:48px;
        font-family: var(--font-inclusive-sans);
    }
    .heading3{
        font-size:40px;
        font-family: var(--font-inclusive-sans);
    }
    .heading4{
        font-size:32px;
        font-family: var(--font-inclusive-sans);
    }
    .paragraph{
        font-size:16px;
        font-family: var(--font-inclusive-sans);
    }
}