@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/components.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #FDF0D5;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
